body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    overflow: hidden; 
}

#joysticks-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    overflow: hidden; 
    border-radius: 15px;
}

.joystick {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.8); 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.8),
                0 0 40px rgba(0, 0, 255, 0.6),
                0 0 60px rgba(0, 0, 255, 0.4);
    overflow: hidden; 
}

.joystick::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 10%, transparent 80%);
    pointer-events: none;
    animation: smokeEffect 5s infinite alternate;
}

@keyframes smokeEffect {
    0% {
        transform: translate(-50%, -50%) scale(8);
        opacity: 8;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0;
    }
}


@keyframes blurCycle {
    0%, 100% {
        filter: blur(2px);
    }
    50% {
        filter: blur(2px);
    }
}

@keyframes colorCycle {
    0% { border-color: red; }
    33% { border-color: green; }
    66% { border-color: blue; }
    100% { border-color: red; }
}

#logo
{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 255, 1));
    color: rgba(255, 0, 0, 1);
    opacity: 0.8; 
}